.claim {
  background-image: linear-gradient(217deg, #4674ec, #4c50c1, #6abeab, #986cb4) !important;
}
.claim:hover {
  background-image: linear-gradient(200deg, #6383d6, #2f33b8, #4cbea4, #8346a8) !important;
}

.wallet_info > span,
.wallet_info > a {
  margin-right: 2rem;
}

.wallet_info > span {
  display: flex;
}

.wallet_info > span > span {
  margin-left: 0.5rem;
}

.wallet_info > a {
  position: relative;
  display: inherit;
  width: 250px;
  color: white;
  text-decoration: none;
}

.wallet_info > a > span:first-of-type {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 250px;
  display: inline-block;
}

.wallet_info > a > span:nth-of-type(2) {
  position: absolute;
  right: 0;
  bottom: 1rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  padding: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
}

.nav {
  position: sticky;
  top: 0;
  left: 0;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.nav > div {
  display: inherit;
  align-items: center;
}

.nav button:hover,
.nav a:hover {
  background: #1f1f1f;
}

.nav button,
.nav div:first-of-type a,
.btn {
  border: 1px solid white;
  border-radius: 15px;
  background: none;
  color: white;
  padding: 0 2rem;
  cursor: pointer;
  text-decoration: none;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 0.9rem;
}

.nav div:first-of-type a:nth-of-type(1),
.nav div:first-of-type a:nth-of-type(2),
.nav div:first-of-type a:nth-of-type(3) {
  margin-right: 1rem;

  text-decoration: none;
  width: 40px;
  padding: 0;
}

@media (max-width: 970px) {
  .nav {
    flex-direction: column;
  }
  .nav > div:first-of-type {
    margin-bottom: 1rem;
  }
  .wallet_info > a {
    width: 100px;
    margin-right: 1rem;
  }

  .wallet_info > a > span:first-of-type {
    width: 100px;
  }
  .nav button,
  .nav div:first-of-type a {
    padding: 0 1rem;
  }
  .wallet_info > span,
  .wallet_info > a {
    margin-right: 1.5rem;
  }
}
